 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My current research is at the intersection of emotion and applied science. I am interested in devices that excite people and in building technologies that make lives better through sensors and algorithms.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am studying computer science and software development. I make stuff.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
